NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_APP_URL=http://localhost:3000
ADMIN_EMAIL=
BUSINESS_ADMIN_EMAIL=supervisor@test.com
BUSINESS_ADMIN_CLIENT_SLUG=demo-pollo-loco
DEFAULT_WHATSAPP_NUMBER=+51987088359
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
